 
 



 <div class="panel panel-warning">
  <div class="panel-heading">
 <div class="panel-title"><%= link_to "Bu soruyu cevapladınız, cevabınızı değiştirmek için tıklayın", @docanswer %></div></div>
</div>