<div class="panel panel-info col-md-4">
<div class="panel-heading">
<h3 class="panel-title">Sorunu Yaz</h3>
 </div>
<div class="panel-body">
<%= render 'form' %>
</div>
</div>

<div class="box">
<%= link_to 'Back', pins_path %>
</div>