 
<div align="center">


<div class="panel panel-info centersoru">
<div class="panel-heading">
<h3 class="panel-title">Sorunu Yaz</h3>
</div>


<div class="panel-body">
	<img src="/assets/grup.jpg" class="imgsoru">
	<% if user_signed_in? %>
<%= render 'form' %>
<%elsif doctor_signed_in? %>
<%= render 'formdoc' %> 
<%end%>
</div>


</div>
</div>
<div>
<%= link_to 'Geri Dön', pins_path %>
</div>

 