<div class="panel panel-info col-md-4">
<div class="panel-heading">
<h3 class="panel-title">Sorunu Yaz</h3>
 </div>
<div class="panel-body">
	<% if user_signed_in? %>
<%= render 'form' %>
<%elsif doctor_signed_in? %>
<%= render 'formdoc' %> 
<%end%>
</div>
</div>

<div class="box">
<%= link_to 'Back', pins_path %>
</div>