 <div class="container">
 	<div class="jumbotron">
  <h1>Hastalığınızı hafife almayın!</h1>
   
  <p><%= link_to "Kayıt Ol", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %></p>
</div>
</div>