<% if user_signed_in? %>
<% render 'layouts/leftnav' %>
<%= render 'answersuser' %>
 
 
 
 
<% elsif doctor_signed_in? %>
<%= render 'layouts/leftnav' %>
<%= render 'answerbox' %>
</div>
</div>
 
<%else %>
<%= redirect_to :root, notice: "Giriş yapınız" %>
<%end%>

          
           

       
      
 
 
 


 


