 
.box {
    margin: 5px;
    width: 214px;}

.box2 { margin: 5px; width: 350px;}

 #pins2 { margin: 0 auto ;}

.disabled {color: grey; font-size: 10px;}

 #agree {color:white;}


 .checkcontainer { border:1px dashed #ccc; width:600px; height: 200px; overflow-y: scroll; }

 .pin-description  { color: #1abc9c;}
 .pin-description:hover {color:#16a085;}

.takip { color: grey; font-size: 12px; }

 .eskipindesc {color: #3498db;}

 #onay {color: #34495e; font-size:12px;}

 .sorubandi { background-color: #1abc9c; 
 color: white;}
 

 .resimdoktorcevap{ width: 30px; height: auto; border-radius: 80px; }

 #doktorismi {color: #1abc9c;}
 #doktorismi:hover {color:#16a085;}

#allanswers  {color: #1abc9c;}
#allanswers:hover {color:#16a085;}

 .icon {width:30px; height:auto;}