 
.box {
    margin: 5px;
    width: 214px;}

    .box2 {
    margin: 5px;
    width: 400px;}

.disabled
 {

color: grey;
font-size: 10px;

 }

 #agree
 {
 color:white;
 }


 .checkcontainer { border:1px dashed #ccc; width:600px; height: 200px; overflow-y: scroll; }

 .pin-description  { color: #3498db;}